/* Fonts */
h1, h2, h3{
    font-family: 'Lato', sans-serif;
}
h4, h5, h6, p, a{
    font-family: 'Roboto', sans-serif;
}

/* General */
html,body{height: 100%;}
body{
    background-image: url(../images/background_v4.png);
    background-position: center;
    background-size: cover;
    background-repeat:repeat;}
.img-set{
    background-position: center;
    background-repeat: no-repeat;
}
a{ text-decoration: none;}


/* Nav */
#nav-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,255,255,.5);
}
#logo{
    padding: 1.2% 5%;
    width: 10%;}
#logo span{
    display: block;
    width: 100%;
    padding-bottom: 6vh;
    background-image: url(../images/logo_v1.png);
    background-size: contain;
}

#nav{
    width: 40%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav li{
    width: 33.333333%;    
    text-align: center;
}
.nav-btn a{
    display: inline-block; 
    color: #8e8e8e;
    font-size: 1.2rem;
}
/* Header */

#header{
    height: 80vh;
    width: 100%;
    background-size: contain;
    background-image: url(../images/background_v0.png);
}
#banner{
    margin-left: 10.5%;
}
#banner h1{
    margin-top: 30vh;
}
#banner h1, #banner p{
    text-align: left;
    color: #c0c0c0;
    font-size: 2rem;
}
#banner ul{
    display: flex;
    justify-content: left;
}
#banner .btn{
    margin-top: 2%;
    margin-right: 3%;
    width: 140px;
}
.btn span{
    color: #d1d1d1;
    display: block;
    padding: 10% 0;
    width: 100%;
    text-align: center;
    transition: .5s;}
#banner .btn span{
    font: 1.3rem;
    background-color: rgba(228, 228, 228, 0.5);
}
.btn span:hover{
    color: rgb(0, 0, 0);
    transition: .5s;
}
#banner .btn span:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(228, 228, 228, 1);
    transition: .5s;
}

/* Sections */
.sections .paragraph h2{
    position: relative;
}
#s-1{
    margin-top: 10%;
}
#s-2, #s-3 {
    margin-top: 25%;
}

/* Floaring Number with Triangles */
.no{
    position: absolute;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.no1{
    width: 20%;
    padding-bottom: 35%;
    background-image: url(../images/tri/tri-s-1.png);
    top: -80%;
    left: -15%;
}

.no2{
    width: 15%;
    padding-bottom: 23%;
    background-image: url(../images/tri/tri-s-2.png);
    top: -80%;
    left: -15%;
}

.no3{
    width: 20%;
    padding-bottom: 27%;
    background-image: url(../images/tri/tri-s-3.png);
    top: -80%;
    left: -15%;
}

/* Paragraphs */

.paragraph h2{
    color: #161616;
    font-size: 2rem;
    line-height: 1.5;
}
.paragraph h5{
    color: #525252;
    margin: 1% 0 3%;
    font-size: 1.2rem;
}
.paragraph p{
    color: #8e8e8e;
    line-height: 1.2;
}

/* S-1 */
#s-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#s-1 .img-wrap{
    width: 50%;
}
#s-1 .img-wrap span{
    display: block;
    padding-bottom: 70%;
    background-size: contain;
    background-image: url(../images/insightfulness_circle.png);
    width: 100%;
}
#s-1 .paragraph{
    width: 40%;
}

/* S-2 */
#s-2 .paragraph{
    margin-left: 20%;
}
#s-2 .img-wrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 6% 0;
}
#s-2 .img-wrap img{
    width: 28%;
}

/* S-3 */

#s-3 .paragraph{
    margin-left: 45%;
}
#s-3-skill{
    color: #8e8e8e;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin-top: 7%;
}
#s-3-skill li{
    width: 28%;
    text-align: center;
}
#s-3-skill li h3{
    font-size: 1.5rem;
    line-height: 2;
}
#s-3-skill li p{
    line-height: 1.3;
}

#s-3 .plus{
    width: 5%;
    font-size: 2rem;
    align-self: center;
}

/* Foooter */
#footer{
    width: 100%;
    margin: 16% 0 5%;
}
#footer h6{
    text-align: center;
    color: grey;
}