/* Fonts */
h1, h2, h3{
    font-family: 'Lato', sans-serif;
}
h4, h5, h6, p, a{
    font-family: 'Roboto', sans-serif;
}

/* General */
html,body{height: 100%;}
body{
    background-image: url(../images/background_v4.png);
    background-position: center;
    background-size: cover;
    background-repeat:repeat;}
.img-set{
    background-position: center;
    background-repeat: no-repeat;
}
a{ text-decoration: none;}
.mobile{display: none;}
@media screen and (max-width:768px){
    .mobile{display: block;}
}

/* Nav */
#nav-wrap{    
    position: fixed;
    top: 0;
    z-index: 99;    
    width: 100%;
    box-sizing: border-box;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,255,255,.5);
}
#logo{
    padding: 1.2% 5%;
    width: 10%;}
#logo span{
    display: block;
    width: 100%;
    padding-bottom: 6vh;
    background-image: url(../images/logo_v1.png);
    background-size: contain;
}

#nav{
    width: 40%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav li{
    width: 33.333333%;    
    text-align: center;
}
.nav-btn a{
    display: inline-block; 
    color: #8e8e8e;
    font-size: 1.2rem;
}
.nav-btn span:hover{
    color: rgb(0, 0, 0);
    transition: .5s;
}
.nav-btn span:hover{
    color: rgb(0, 0, 0);
    transition: .5s;
}
/* Header */

#header{
    height: 80vh;
    width: 100%;
    background-size: contain;
    background-image: url(../images/background_v0.png);
}
#resume #header{
    height: 52vh;
}
#banner{
    margin-left: 10.5%;
}
#banner h1{
    padding-top: 30vh;
}
#banner h1, #banner p{
    text-align: left;
    color: #000;
    font-size: 2rem;
}
#banner ul{
    display: flex;
    justify-content: left;
}
.btn{
    margin-top: 2%;
    margin-right: 3%;
    width: 140px;
}
.btn span{
    color: #d1d1d1;
    display: block;
    padding: 10% 0;
    width: 100%;
    text-align: center;
    transition: .5s;}
.btn span{
    font-size: 1.3rem;
    background-color: rgba(228, 228, 228, 0.5);
}
.btn span:hover{
    color: rgb(0, 0, 0);
    transition: .5s;
}
.btn span:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(228, 228, 228, .8);
    box-shadow: 0 0 5px rgba(228, 228, 228, .8);
    transition: .5s;
}

/* Sections */
.sections .paragraph h2{
    position: relative;
}
#s-1{
    margin-top: 2%;
}
#s-2 {
    margin-top: 13%;
}
#s-3 {
    margin-top: 19%;
}

/* Floaring Number with Triangles */
.no{
    position: absolute;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.no1{
    width: 20%;
    padding-bottom: 41%;
    background-image: url(../images/tri/tri-s-1.png);
    top: -100%;
    right: -20%;
}

.no2{
    width: 15%;
    padding-bottom: 23%;
    background-image: url(../images/tri/tri-s-2.png);
    top: -80%;
    left: -15%;
}

.no3{
    width: 20%;
    padding-bottom: 27%;
    background-image: url(../images/tri/tri-s-3.png);
    top: -80%;
    left: -15%;
}

/* Paragraphs */

.paragraph h2{
    color: #161616;
    font-size: 4rem;
    line-height: 1.5;
}
.paragraph h5{
    color: #525252;
    margin: 1% 0 3%;
    font-size: 1.2rem;
}
.paragraph p{
    color: #8e8e8e;
    line-height: 1.2;
}

/* S-1 */
#s-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#s-1 .img-wrap{
    width: 50%;
}
#s-1 .img-wrap span{
    display: block;
    padding-bottom: 70%;
    background-size: contain;
    transition: .5s;
    width: 100%;
}
#s-1 .img-wrap span{
    background-image: url(../images/textured-images/insightfulness_grey.png);
}
#s-1 .img-wrap span:hover{
    filter: drop-shadow(0 0 20px rgba(112, 112, 112,.1));
    background-image: url(../images/textured-images/insightfulness_colored.png);
}
#s-1 .paragraph{
    width: 40%;
    text-align: right;
}

/* S-2 */
#s-2 .paragraph{
    margin-left: 20%;
}
#s-2 .img-wrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 6% 0 6% 10%;
}
#s-2 .img-wrap .img span{
    display: block;
    padding-bottom: 70%;
    background-size: contain;
    transition: .5s;
    width: 100%;
    transition: .5s;
    
}
#s-2 .img-wrap a{
    width: 33.33333333%;
}
#s-2 .img-wrap .img1 span{ background-image: url(../images/textured-images/work1_grey.png);}
#s-2 .img-wrap .img2 span{ background-image: url(../images/textured-images/work2_grey.png);}
#s-2 .img-wrap .img3 span{ background-image: url(../images/textured-images/work3_grey.png);}

#s-2 .img-wrap .img:hover { filter: drop-shadow(0 0 5px rgba(112, 112, 112,.1)); }
#s-2 .img-wrap .img1:hover span{ background-image: url(../images/textured-images/work1_colored.png);}
#s-2 .img-wrap .img2:hover span{ background-image: url(../images/textured-images/work2_colored.png);}
#s-2 .img-wrap .img3:hover span{ background-image: url(../images/textured-images/work3_colored.png);}

/* S-3 */

#s-3 .paragraph{
    margin:0 10% 0 45%;
}
#s-3-skill{
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin-top: 7%;
}
#s-3-skill li{
    width: 28%;
    text-align: center;

}
#s-3-skill .textured-bg{
    background-size: contain;
    padding: 8% 0;
    box-sizing: border-box;
}
#s-3-skill .tb1{
    background-image: url(../images/textured-images/red.png);
}
#s-3-skill .tb2{
    background-image: url(../images/textured-images/blue.png);
}
#s-3-skill .tb3{
    background-image: url(../images/textured-images/yellow.png);
}
#s-3-skill li h3{
    font-size: 1.5rem;
    line-height: 2;
}
#s-3-skill li p{
    line-height: 1.3;
}

#s-3 .plus{
    color: #bbb;
    width: 0.1%;
    font-size: 2rem;
    align-self: center;
}

/* Foooter */
#footer{
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding: 3% 0;
    margin-top: 6%;

}
#footer h6{
    text-align: center;
    color: grey;
}

#footer ul{
    display: flex;
    justify-content: center;
    margin: 0 0 2%;
}

/* Resume */
#iframe{
    width: 100%;
    height: 2000px;
    margin: auto;
}

#resume #banner p{
    font-size: 1rem;
    line-height: 1.5;
}
#iframe-wrap{
    width: 60%;
    margin: auto;
}



@media screen and (max-width:768px){
#nav {
    width: 47%;
}
#logo {
    width: 13%;
}
.nav-btn a{
    font-size: 0.95rem;
}
.paragraph h2 {
    font-size: 2rem;}

#s-1 { flex-direction: column;
}
#s-1 .paragraph {
    margin: 0 10% 6% 20%;
    text-align: left;
    width: auto;
}
.no1 {
left: -16%;
}
#s-1 .img-wrap {
    width: 100%;
}

#s-2 .paragraph,#s-3 .paragraph {
    margin: 0 10% 0 20%;
}
#s-2 .img-wrap {
    margin: 6% 0;
    flex-wrap: wrap;
}
#s-2 .img-wrap a:nth-of-type(1) {
    width: 100%;
}
#s-2 .img-wrap a:nth-of-type(2) ,#s-2 .img-wrap a:nth-of-type(3) {
    width: 50%;
}
#s-3 {
    margin-top: 25%;
}
#s-3-skill{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#s-3-skill li {
    width: 100%;
}
#s-3-skill .textured-bg {
    padding: 20% 0;
}
#footer{
    padding: 5% 0;
    margin-top: 16%;
}


#iframe-wrap{
    display: none;
}


/* (max-width:768px) end */
}